<%- include('../includes/header.ejs') %>
<div id="token" class="hidden"><%=token%></div>
<div class="col-lg-9 col-lg-offset-1">
    <div id="content">
        <div id="contentwrapper">`
                <div class="panel panel-default toggle panelClose panelRefresh panelMove" id="tokendiv" style="margin-top: 10px;">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Quản Lí Giao Dịch</h4>
                        <div class="panel-controls panel-controls-right">
                            <a href="#" class="panel-refresh">
                                <i class="brocco-icon-refresh s12"></i>
                            </a>
                            <a href="#" class="toggle panel-minimize">
                                <i class="icomoon-icon-plus"></i>
                            </a>
                            <a href="#" class="panel-close">
                                <i class="icomoon-icon-close"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <button class="btn btn-success pull-right" style="margin-right: 5px;" data-toggle="modal" data-target="#addCate">
                                <i class="fa fa-plus"></i>Thêm GD</button>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Phân Loại</th>
                                        <th>Tên</th>
                                        <th>Hành Động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% categories.forEach(function(category){ %>
                                    <tr>
                                        <td class="id"><%=category.id%></td>
                                        <td><%=category.type%></td>
                                        <td><%=category.name%></td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-warning edit_cate">Sửa</a>
                                                <a class="btn btn-danger del_cate">Xóa</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <ul class="pagination mt0 mb0">
                                    <% if(paginate.hasPreviousPages==false){}else{%><li><a href="<%=paginate.href(true)%>"><i class="fa fa-angle-left"></i></a>
                                    </li>      
                                    <%}%>
                                    <% pages.forEach(function(page){ %>
                                    <li <% if(paginate.page==page.number){ %> class="active" <% }%>><a href='<%=page.url%>'><%=page.number%></a>
                                    </li>
                                    <% }); %>
                                    <% if(paginate.hasNextPages(pageCount)==false){}else{%><li><a href="<%=paginate.href()%>"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">Code By
                        <a href="https://www.facebook.com/hellcat.info">HellCatVN-VGM</a>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<div id="divLoading" style="display:none">
</div>
<input type="hidden" name="mm" value="<?php echo $_SESSION[" mm_info "] ?>">

<div id="resultModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Kết Quả</h4>
            </div>
            <div class="modal-body" id="resultContent">
            </div>
        </div>
    </div>
</div>
<div id="addCate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal group-border stripped">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label" for="">Phân Loại</label>
                        <div class="col-lg-10 col-md-9">
                            <input type="text" class="form-control" name="a_phanloai" value="notes" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label" for="">Tên</label>
                        <div class="col-lg-10 col-md-9">
                            <input type="text" class="form-control" name="a_ten">
                        </div>
                    </div>
                    <br>
                    <a id="a_cate" class="btn btn-success pull-right">Thêm</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="editCate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal group-border stripped">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label" for="">Phân Loại</label>
                        <div class="col-lg-10 col-md-9">
                            <input type="text" class="form-control" name="e_phanloai" value="notes" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label" for="">ID</label>
                        <div class="col-lg-10 col-md-9">
                            <input type="text" class="form-control" id="e_id" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label" for="">Tên</label>
                        <div class="col-lg-10 col-md-9">
                            <input type="text" class="form-control" name="e_ten">
                        </div>
                    </div>
                    <br>
                    <a id="e_cate" class="btn btn-success pull-right">Sửa</a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(".del_cate").click(function () {
        id = $(this).closest("tr").find(".id").text();
        var result = confirm("Want to delete?");
        if (result == true) {
            $.post('notesmanagement.html', {
                type: 'xoacate',
                id: id,
            }, function (data, status) {
                $('#resultContent').html('<p class="text-center">'+data+'</p>')
                $('#resultModal').modal('show');
            });
        }
    });
    $('#a_cate').click(function () {
        $('#addCate').modal('hide');
        cate_type = $('input[name=a_phanloai]').val();
        cate_name = $('input[name=a_ten]').val();
        $.post('notesmanagement.html', {
            type: 'addcate',
            cate_type: cate_type,
            cate_name: cate_name,
        }, function (data, status) {
            $('#resultContent').html('<p class="text-center">' + data + '</p>')
            $('#resultModal').modal('show');
        });
    })
    $('.edit_cate').click(function () {
        id = $(this).closest("tr").find(".id").text();
        $('#editCate').find('#e_id').val(id);        
        $('#editCate').modal('show');
    })
    $('#e_cate').click(function () {
        $('#editCate').modal('hide');
        cate_type = $('input[name=e_phanloai]').val();
        cate_name = $('input[name=e_ten]').val();
        cate_id = $('#e_id').val();
        $.post('notesmanagement.html', {
            type: 'editcate',
            cate_type: cate_type,
            cate_name: cate_name,
            cate_id: cate_id,
        }, function (data, status) {
            $('#resultContent').html('<p class="text-center">' + data + '</p>')
            $('#resultModal').modal('show');
        });           
    })    
</script>

<%- include('../includes/footer.ejs') %>